<div class="container main-content">
    
    <div class="row">
    
        <div [ngClass]="{'col-md-9': activeMenu == 'doctors', 'col-md-pull-3' : activeMenu == 'doctors', 'col-md-12': activeMenu == 'news' }" app-main-content></div>
        
        <div [ngClass]="{ 'col-md-3' : activeMenu == 'doctors', 'col-md-push-9 bd-sidebar': activeMenu == 'doctors', 'bd-sidebar': activeMenu == 'doctors', 'sideBarHide': activeMenu == 'news' }" app-sidebar-content></div>                
        
    </div>
</div>