<footer class="footer">
  <div class="container">
    <div class="text-muted footer-links"><a href="#">Medical News</a> | <a href="#">Doctors</a> | <a href="#">Hospitals</a> | <a href="#">Medicines</a> | <a href="#">About Us</a> | <a href="#">Contact Us</a></div>
    <div class="text-muted footer-links">Follow Us</div>
    <div class="text-muted footer-links">
        <a href="#"><i class="fa fa-facebook"> facebook</i></a> | <a href="#"><i class="fa fa-instagram"> instagram</i></a> | <a href="#"><i class="fa fa-twitter"> twitter</i></a>
    </div>
    <hr>
    <div class="text-muted copyright">©2017 Filipino-Kliniko. Designed by <a href="https://www.facebook.com/chris.brown.valencia">Chris Brown</a> and <a href="https://www.facebook.com/markhuz1925">Marko Luther Antiola</a>.</div>
  </div>
</footer>