<div class="social fixed">
  <div class="jssocials-shares">
    <div class="social-btn facebook">
      <a href="#" class="social-link">
        <i class="fa fa-facebook btn-round"></i>
      </a>
    </div>
    <div class="social-btn twitter">
      <a href="#" class="social-link">
        <i class="fa fa-twitter btn-round"></i>
      </a>
    </div>
    <div class="social-btn instagram">
      <a href="#" class="social-link">
          <i class="fa fa-instagram btn-round"></i>
      </a>
    </div>
    <div class="social-btn googleplus">
      <a href="#" class="social-link">
          <i class="fa fa-google btn-round"></i>
      </a>
    </div>
  </div>
</div>
