
  <div class="card">
      <div class="card-block">
          <h5 class="card-title">{{ doctor.FullName }}</h5>
          <hr />
          <p class="card-text">{{ doctor.Description }}</p>
      </div>
      <div class="card-block card-block-no-top-pad">
          <p class="card-text">
              {{ doctor.ContactNo }}
          </p>
          <a href="#" class="btn btn-outline-primary">Set appointment <i class="glyphicon glyphicon-phone"></i></a> 
      </div>                                
  </div>