
<div class="row title">
  <div class="col-sm-12">
    <div class="row">

        <div class="col-md-12">
            <h4>{{specialization}}</h4>
        </div>
        
        <div class="col-md-12">
          <md-input-container>
            <input #state mdInput placeholder="State / Province | City" [mdAutocomplete]="auto" [formControl]="stateCtrl">
          </md-input-container>
          <md-autocomplete #stateAutocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let state of filteredStates | async" [value]="state">
              {{ state }}
            </md-option>
          </md-autocomplete>  
        </div>       
        <div class="col-md-12">
          <button [disabled]="isSearchingDoctors==false? false: true" class="btn btn-primary" (click)="searchDoctors()">Search</button>
        </div>
    </div>
  </div>  
</div>

<div *ngIf="hasLoaded" class="row">
  <div class="col-sm-6" *ngFor="let doctor of doctors" app-doctor-item [doctor]="doctor">

  </div>
</div>

<div *ngIf="!hasLoaded" class="row">
    <div class="col-sm-6">
        <h4>Loading...</h4>
    </div>  
</div>